In [78]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import os
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
import csv
import pandas as pd

In [157]:
Driver_path =  './chromedriver.exe'
driver = webdriver.Chrome(executable_path=Driver_path)
search_item = "Data Scientist"
search_item = search_item.replace(" ","-")
search_item = search_item + "-jobs"
complete_url = "https://www.linkedin.com/jobs/"+search_item
driver.get(complete_url)
time.sleep(2)

for i in range(2):
    driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    time.sleep(3)

job_names = driver.find_element(By.CLASS_NAME,'jobs-search__results-list').find_elements(By.TAG_NAME,'span')
job_titles = [job_name.text for job_name in job_names]

job_links = driver.find_element(By.CLASS_NAME,'jobs-search__results-list').find_elements(By.TAG_NAME,'a')
apply_link = [job_link.text for job_link in job_links]


final_jobs = [jobs for jobs in job_titles if "Actively" not in jobs and "$" not in jobs and "insurance" not in jobs.lower() and "Be an early applicant" not in jobs]

time.sleep(2)
driver.quit()

print(str(len(final_jobs)//2) + " jobs applied")

C:\Users\saike\AppData\Local\Temp\ipykernel_130660\2119388805.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=Driver_path)

74 jobs applied

In [158]:
final_jobs

['Data Scientist',
 'Torrance, CA',
 'Data Scientist (Remote US Only)',
 'Ann Arbor, MI',
 'Data Scientist',
 'Denver, CO',
 'Data Scientist Full Time',
 'New York, NY',
 'Data Scientist',
 'Marietta, GA',
 'decision scientist - multiple openings',
 'Seattle, WA',
 'Data Scientist (Biotech)',
 'Pittsburgh, PA',
 'Jr. Data Scientist',
 'Atlanta Metropolitan Area',
 'Data Scientist',
 'United States',
 'Data Scientist',
 'Plano, TX',
 'Data Scientist',
 'San Francisco, CA',
 'Data Scientist',
 'Sunnyvale, CA',
 'Data Scientist 1',
 'Illinois, United States',
 'Data Scientist, Growth',
 'Brooklyn, NY',
 'Data Scientist',
 'New York City Metropolitan Area',
 'Data Scientist',
 'Sunnyvale, CA',
 'Junior Data Scientist HYBRID',
 'Boston, MA',
 'Data Scientist',
 'Mahinahina Camp, HI',
 'Data Scientist (Experimentation)',
 'San Francisco, CA',
 'Data Scientist',
 'Greensboro--Winston-Salem--High Point Area',
 'Data Scientist',
 'Pittsburgh, PA',
 'jr. Data Scientist - AI/ML Specialist',
 'Washington, DC',
 'Data Scientist II',
 'San Diego, CA',
 'Data Scientist',
 'Tampa, FL',
 'Data Scientist',
 'San Jose, CA',
 'Data Scientist',
 'New York, United States',
 'Data Scientist - Machine Learning',
 'Brooklyn, NY',
 'Data Scientist - Associate',
 'Jersey City, NJ',
 'Data Scientist',
 'Philadelphia, PA',
 'Data Scientist',
 'Los Angeles, CA',
 'Data Scientist 1',
 'Illinois, United States',
 'data scientist, Operational Excellence - GSC',
 'Seattle, WA',
 'Data Scientist',
 'Norwalk, CT',
 'Data Scientist',
 'United States',
 'Machine Learning Engineer',
 'United States',
 'Junior Data Scientist',
 'Boston, MA',
 'Data Scientist',
 'United States',
 'Data Scientist - SaaS, FinTech, AI - Remote or Hybrid',
 'United States',
 'Data Scientist',
 'Irving, TX',
 'Machine Learning Engineer',
 'United States',
 'Data Scientist (Recommendations/Forecasting)',
 'United States',
 'Jr. Data Scientist',
 'Seattle, WA',
 'Machine Learning Engineer',
 'New York, United States',
 'Machine Learning Research Engineer',
 'San Francisco, CA',
 'Data Scientist',
 'Missouri, United States',
 'Data Scientist',
 'United States',
 'Data Scientist/ Data Analyst',
 'Atlanta Metropolitan Area',
 'Senior Data Scientist - Healthcare',
 'New York, NY',
 'Data Scientist',
 'Miami, FL',
 'New York, NY',
 'Data Scientist - Statistics',
 'Chicago, IL',
 'United States',
 'Data Scientist',
 'United States',
 'Data Scientist, Machine Learning',
 'United States',
 'Data Scientist - REMOTE',
 'Chicago, IL',
 'Data Scientist - REMOTE- US CITIZEN',
 'United States',
 'Data Scientist',
 'West Sacramento, CA',
 'Data Scientist',
 'Atlanta, GA',
 'Data Scientist',
 'New York, United States',
 'DATA SCIENTIST',
 'Lawrence, NJ',
 'Machine Learning Engineer',
 'United States',
 'Data Scientist',
 'Irving, TX',
 'Machine Learning Engineer',
 'Greenwich, CT',
 'Data Scientist',
 'Boston, MA',
 'Data Scientist - Boston',
 'Boston, MA',
 'Investment Data Scientist',
 'New York, United States',
 'Data Scientist',
 'San Mateo, CA',
 'Part Time AI/ML Data Scientist',
 'Greater Boston',
 'Data Scientist - Model Validation',
 'New York City Metropolitan Area',
 'Data Scientist',
 'Camden, NJ',
 'Data Scientist',
 'Raleigh, NC',
 'Data Scientist',
 'New York, NY',
 'Data Scientist I',
 'United States',
 'Junior Data Scientist',
 'Boston, MA',
 'Machine Learning Engineer',
 'New York, United States']

In [159]:
job_name = []
place_list = []
for job in range(len(final_jobs)):
    if(job%2 == 0):
        job_name.append(final_jobs[job])
    else:
        place_list.append(final_jobs[job])

In [160]:
company_name = []
for company in range(len(apply_link)):
    if(company%2 != 0):
        company_name.append(apply_link[company])

In [161]:
file_name = "jobs.csv"
data = list(zip(job_name,company_name,place_list))
with open(file_name, 'w', newline = '') as csvfile:
    csvwriter = csv.writer(csvfile)
    csvwriter.writerow(['Job Title', 'Company_name ','Location'])
    csvwriter.writerows(data)

print("CSV File successfully created")

CSV File successfully created

In [162]:
company_name

['SecureSpace',
 'ArborMetrix',
 'Project Canary',
 'Bardess Group Ltd',
 'SPLICE',
 'Starbucks',
 'KnowHireMatch',
 'Petram Search Group',
 'Mindtree',
 'Cinemark',
 'FocusKPI, Inc.',
 'Mercedes-Benz Research & Development North America, Inc.',
 'Abbott',
 'Propel, Inc',
 'hackajob',
 'Mercedes-Benz Research & Development North America, Inc.',
 'Limitless Talent Solutions',
 'WWC Global, a Pequot Company',
 'FocusKPI, Inc.',
 'The Fresh Market',
 'Lawrence Harvey',
 'Trillion Technology Solutions, Inc',
 'PlayStation',
 'WWC Global, a Pequot Company',
 'PayPal',
 'Telesign',
 'Underdog Fantasy',
 'JPMorgan Chase & Co.',
 'Cadent',
 'PayPal',
 'Abbott',
 'Starbucks',
 'Smith Arnold Partners',
 'Averity',
 'Horizon Health Care, Inc',
 'Kaizen Talent',
 'Nagarro',
 'Zest AI',
 'Epsilon',
 'Softrams',
 'Hyatt Hotels Corporation',
 'Acadia Technologies, Inc.',
 'Algo Capital Group',
 'Serv Recruitment Agency',
 'Envision',
 'Elementus',
 'Tier4 Group',
 'Cureatr',
 'Idea Financial',
 'Data Scientist - Statistics',
 'Genetic Data Scientist - $115k/yr',
 'Data Scientist',
 'Data Scientist, Machine Learning',
 'Data Scientist - REMOTE',
 'Data Scientist - REMOTE- US CITIZEN',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'DATA SCIENTIST',
 'Machine Learning Engineer',
 'Data Scientist',
 'Machine Learning Engineer',
 'Data Scientist',
 'Data Scientist - Boston',
 'Investment Data Scientist',
 'Data Scientist',
 'Part Time AI/ML Data Scientist',
 'Data Scientist - Model Validation',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist I',
 'Junior Data Scientist',
 'Machine Learning Engineer']

In [163]:

df = pd.read_csv(open("./jobs.csv"))
df

,Job Title,Company_name,Location
0,Data Scientist,SecureSpace,"Torrance, CA"
1,Data Scientist (Remote US Only),ArborMetrix,"Ann Arbor, MI"
2,Data Scientist,Project Canary,"Denver, CO"
3,Data Scientist Full Time,Bardess Group Ltd,"New York, NY"
4,Data Scientist,SPLICE,"Marietta, GA"
...,...,...,...
69,Data Scientist,Data Scientist,"Raleigh, NC"
70,Data Scientist,Data Scientist,"New York, NY"
71,Data Scientist I,Data Scientist I,United States
72,Junior Data Scientist,Junior Data Scientist,"Boston, MA"
73,Machine Learning Engineer,Machine Learning Engineer,"New York, United States"