In [78]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import os
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
import csv
import pandas as pd

In [121]:
Driver_path =  './chromedriver.exe'
driver = webdriver.Chrome(executable_path=Driver_path)
search_item = "Data Scientist"
search_item = search_item.replace(" ","-")
search_item = search_item + "-jobs"
complete_url = "https://www.linkedin.com/jobs/"+search_item
driver.get(complete_url)
time.sleep(2)

for i in range(2):
    driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    time.sleep(3)

job_names = driver.find_element(By.CLASS_NAME,'jobs-search__results-list').find_elements(By.TAG_NAME,'span')
job_titles = [job_name.text for job_name in job_names]

job_links = driver.find_element(By.CLASS_NAME,'jobs-search__results-list').find_elements(By.TAG_NAME,'a')
apply_link = [job_link.text for job_link in job_links]


final_jobs = [jobs for jobs in job_titles if "Actively" not in jobs and "$" not in jobs and "insurance" not in jobs.lower() and "Be an early applicant" not in jobs]

time.sleep(2)
driver.quit()

C:\Users\saike\AppData\Local\Temp\ipykernel_130660\2264692100.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=Driver_path)

In [122]:
job_list = []
place_list = []
for job in range(len(final_jobs)):
    if(job%2 == 0):
        job_list.append(final_jobs[job])
    else:
        place_list.append(final_jobs[job])

In [123]:
company_name = []
for company in range(len(apply_link)):
    if(company%2 != 0):
        company_name.append(apply_link[company])

In [124]:
file_name = "jobs.csv"
data = list(zip(job_list,company_name,place_list))
with open(file_name, 'w', newline = '') as csvfile:
    csvwriter = csv.writer(csvfile)
    csvwriter.writerow(['Job Title', 'Company_name ','Location'])
    csvwriter.writerows(data)

print("CSV File successfully created")

CSV File successfully created

In [125]:

df = pd.read_csv(open("./jobs.csv"))
df

,Job Title,Company_name,Location
0,Data Scientist,Mercedes-Benz Research & Development North Ame...,"Sunnyvale, CA"
1,Data Scientist,SecureSpace,"Torrance, CA"
2,Data Scientist (Remote US Only),ArborMetrix,"Ann Arbor, MI"
3,Data Scientist,Project Canary,"Denver, CO"
4,Data Scientist Full Time,Bardess Group Ltd,"New York, NY"
...,...,...,...
69,Data Scientist,Data Scientist,"Dallas, TX"
70,Data Scientist,Data Scientist,"New York, NY"
71,Data Scientist,Data Scientist,"Irving, TX"
72,Data Scientist I,Data Scientist I,United States
73,Machine Learning Engineer,Machine Learning Engineer,"New York, United States"